@import 'public/stylus/index'

nav
  center()
  background-color secondary
  color tertiary
  border-radius()

h1
  center()

a
  padding 0
  margin 10px

button
  margin 10px
  font-size 1.2em
  background-color rgba(white, 1)
  border-style outset black
  padding 5px
  cursor pointer
  border-radius()
  &:hover
    background-color rgba(white, 0.7)
    border-style inset

@media tablet_and_desktop
  nav
    display flex
    background-color primary
    color secondary
    border-radius()

